<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <mat-toolbar color="primary" class="mat-elevation -z6">
      <div class="spacer"></div>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <a mat-button [routerLink]="'dummy'">Home</a>
      <a mat-button [routerLink]="'services'">Contacts</a>
      <a mat-button [routerLink]="'contacts'">Services</a>
      <a mat-button [routerLink]="'aboutUs'">About Us</a>
      <a mat-raised-button color="violet" [routerLink]="'signUp'">Sign Up</a>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      ></button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <div class="row">
      <div class="column">
        <img src="b3.jpg" alt="design1" style="width: 100%" />
      </div>
      <div class="column">
        <img src="b6.jpg" alt="design2" style="width: 100%" />
      </div>
      <div class="column">
        <img src="frame2.jpg" alt="frame2" style="width: 100%" />
      </div>
      <div class="column">
        <img src="jpg_44-2.jpg" alt="frame3" style="width: 100%" />
      </div>
    </div>

    <router-outlet></router-outlet>
  </body>
</html>
